
.body {
    width: 100vw;
    height: 100vh;
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
  }




  .section2{
    margin-top: 12vh !important;
    padding: 0 !important;
    box-sizing: border-box;
    width: 100vw;
    height: 88vh;
    background-image:linear-gradient(to right, rgba(0,0,0,0.5) 5%, rgba(0,0,0,0.2) 64%), url("./assets/resume.jpg");
    background-repeat: no-repeat;
    background-size: cover;


}


/******* Contact *******/

.contact{
    height: 50vh;
    width: 100vw;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.contact-container{
    width: 50vw;
    height: 25vh;
    font-size: 1.2rem;
    font-weight: 600;
    color:rgb(14, 14, 13);
  
}
.linkedin{
    text-decoration: none;
    color:rgb(14, 14, 13);
    font-size: 1.2rem;

}
.linkedin:hover{
    color:bisque;
}

